@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #292B33;
  --loovi-green: #25d366;
  --loovi-dark: #292B33;
  --loovi-pink: #ff0066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Force light mode background for now to keep control */
    --foreground: #292B33;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
